 <!-- Availabe Features -->
<section class="section section-features">
				<div class="container">
				   <div class="row">
						<div class="col-md-5 mt-5 features-img">
							<img src="assets/img/features/feature.png" class="img-fluid" alt="Feature">
						</div>
						<div class="col-md-7">
							<div class="section-header">	
								<h2 class="mt-2">Availabe Features in Our Clinic</h2>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
							</div>	
							<div class="row justify-content-around">
							
								<div class="col-md-4 py-2" *ngFor="let feature of features">
									<div class="feature-item text-center">
										<img src="assets/img/features/{{feature.image}}" class="img-fluid" alt="Feature">
										<p>{{feature.name}}</p>
									</div>
								</div>	
									
							</div>
							<div class="features-slider slider">
							</div>
						</div>
				   </div>
				</div>
			</section>		
			<!-- Availabe Features -->